<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias type="domain.Member" alias="member"/>
</typeAliases>


<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
				<property name="username" value="catsoft" />
				<property name="password" value="catsoft" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
	</mappers>

</configuration>